/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    min-width: 141px;
    width: max-content;
}
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: var(--red-1);
    font-size: 1.5rem;
    color: var(--yellow-3);
    font-weight: 900;
    border-radius: 4px;
    padding: 0px 45px 0px 16px;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icons/arrow.png');
    background-size: 100% 100%;
    
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    transform: rotate(-180deg) translateY(50%);
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  .select-items div{
    color: var(--red-1);
    padding: 8px 3px;
    border: 1px solid var(--red-1);
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: var(--yellow-3);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
   
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 1199.98px){
    .select-selected{
      padding: 0px 30px 0px 9px;
      font-size: 1.1rem;
    }
    .select-selected:after{
      width: 12px;
      height: 12px;
      right: 10px;
    }
    .custom-select{
      min-width: 82px
    }
    .select-items{
      width: max-content;
    }
    .select-items div{
      font-size: 0.8rem;
    }
  }

  @media (max-width: 990.98px){
    .select-selected{
      font-size: 0.9rem;
      padding: 5px 30px 5px 9px;
    }
  }