:root {
  --red-1: #7b0915;
  --red-2: #7a0b16;
  --red-3: #9f4a49;
  --yellow-1: #bb7f20;
  --yellow-2: #efd9a1;
  --yellow-3: #fef3d4;
  --yellow-4: #ffe8b6;
}

@font-face {
  font-family: Noto Sans;
  src: url("../../docs/Font/NotoSans-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Noto Sans;
  src: url("../../docs/Font/NotoSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Noto Sans;
  src: url("../../docs/Font/NotoSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Noto Sans;
  src: url("../../docs/Font/NotoSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Noto Sans;
  src: url("../../docs/Font/NotoSans-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: SFU;
  src: url("../../docs/Font/SFUBelleRegular.TTF");
}
@font-face {
  font-family: Costa Rica;
  src: url("../../docs/Font/Costa-Rica.otf");
}
* {
  box-sizing: border-box;
  margin: unset;
}

html {
  overflow-x: hidden;
}

body {
  background-size: 100% 100%;
  background-image: linear-gradient(#fccb90 5%, #fedda7 20%, #ffefbf 57%, #fccb90 100%);
  font-family: Noto Sans;
  font-size: 1.2rem;
}

h2 {
  font-size: 2rem;
}

.main-container {
  max-width: 1200px;
  padding-left: 71px;
  padding-right: 71px;
  margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-main-red {
  color: var(--red-1);
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.711);
  opacity: 1; /* Firefox */
  font-style: italic;
}

::placeholder {
  color: rgba(255, 255, 255, 0.711);
  opacity: 1; /* Firefox */
  font-style: italic;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: rgba(255, 255, 255, 0.711);
}

:focus-visible {
  outline: unset !important;
}

#section-banner img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#section-banner img.logoSeller {
  top: 30px;
  width: 146px;
  right: -30px;
  transform: translate(-50%, 0);
}
#section-banner img.banner-img {
  position: relative;
  z-index: 10;
  margin-top: 48px;
}
@media (max-width: 1199.98px) {
  #section-banner img.logoSeller {
    width: 100px;
  }
  #section-banner img.banner-img {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  #section-banner img.logoSeller {
    top: 15px;
    right: -15px;
    width: 50px;
  }
  #section-banner img.banner-img {
    margin-top: 15px;
  }
}

#section-quote {
  margin-bottom: 63px;
}
#section-quote .main-container h2 {
  padding: 55px 77px;
  border-radius: 20px;
  background-color: #7b0b15;
  text-align: justify;
  color: var(--yellow-4);
  font-weight: 100;
  font-size: 1.62rem;
  line-height: 1.3;
}
#section-quote .main-container h2 span {
  font-weight: 700;
}
#section-quote .main-container h2 img {
  top: 0;
  right: 120px;
  transform: translateY(-40%);
}
@media (max-width: 1199.98px) {
  #section-quote .main-container h2 {
    padding: 29px 50px;
    line-height: 1.4;
    font-size: 1.1rem;
  }
  #section-quote .main-container h2 img {
    width: 50px;
    right: 70px;
  }
}
@media (max-width: 767.98px) {
  #section-quote {
    margin-bottom: 30px;
  }
  #section-quote .main-container h2 {
    padding: 15px;
    font-size: 0.9rem;
  }
  #section-quote .main-container h2 img {
    width: 25px;
    right: 30px;
  }
}

#section-rules {
  margin-bottom: 56px;
}
#section-rules ul {
  list-style: none;
  padding-left: 0;
}
#section-rules ul li.animate__fadeInUp {
  animation-duration: 1.3s;
}
#section-rules ul li p {
  font-size: 1.62rem;
  color: var(--red-2);
  gap: 10px;
  line-height: 1.4;
}
#section-rules ul li p .icon {
  height: -moz-max-content;
  height: max-content;
}
#section-rules ul li p .title {
  font-weight: 700;
}
@media (max-width: 1199.98px) {
  #section-rules ul li p {
    font-size: 1.1rem;
  }
}
@media (max-width: 767.98px) {
  #section-rules {
    margin-bottom: 30px;
  }
  #section-rules ul li p {
    font-size: 0.9rem;
    text-align: justify;
    line-height: 17px;
  }
  #section-rules ul li p .icon {
    width: 17px;
    height: 17px;
  }
}

#section-winner {
  margin-bottom: 70px;
}
#section-winner .section-winner-content {
  border: 1px solid var(--red-3);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background-color: var(--yellow-3);
}
#section-winner h2 {
  font-weight: 700;
  color: var(--red-2);
  padding: 15px 5px;
  text-align: center;
  margin-bottom: 0;
}
#section-winner .warning-text {
  font-size: 1.1rem;
}
#section-winner #phone {
  border-radius: 4px;
  font-size: 1.2rem;
  height: 38px;
  line-height: 50px;
  text-align: center;
  background-color: var(--red-1);
  width: 490px;
  color: white !important;
  border: none;
  font-weight: 300;
}
#section-winner #table-list-winner {
  width: 100%;
}
#section-winner #table-list-winner thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
#section-winner #table-list-winner th {
  text-transform: uppercase;
  background-color: var(--yellow-1);
  color: #fff;
  padding: 5px 10px;
  line-height: 1.3;
}
#section-winner #table-list-winner td {
  font-weight: 700;
  color: var(--yellow-1);
  background-color: var(--yellow-2);
  padding: 6px 8px;
}
#section-winner #table-list-winner th,
#section-winner #table-list-winner td {
  text-align: center;
  border: 3px solid var(--yellow-3);
}
#section-winner #table-list-winner th:nth-child(1),
#section-winner #table-list-winner td:nth-child(1) {
  width: 100px;
  border-left: unset;
}
#section-winner #table-list-winner th:last-child,
#section-winner #table-list-winner td:last-child {
  border-right: unset;
}
#section-winner #table-list-winner th:nth-child(2),
#section-winner #table-list-winner td:nth-child(2) {
  min-width: 228.5px;
}
#section-winner #table-list-winner th:nth-child(4),
#section-winner #table-list-winner td:nth-child(4) {
  width: 195px;
}
#section-winner #table-list-winner th:nth-child(3) .th-inner,
#section-winner #table-list-winner td:nth-child(3) {
  text-wrap: nowrap;
  width: -moz-max-content;
  width: max-content;
}
#section-winner #table-list-winner th:nth-child(3) .th-inner {
  width: 100%;
  text-align: center;
}
#section-winner #table-list-winner td:nth-child(2) {
  text-transform: capitalize;
}
#section-winner #table-list-winner th:nth-child(5),
#section-winner #table-list-winner td:nth-child(5) {
  max-width: 206px;
}
#section-winner #pagination {
  display: flex;
  justify-content: center;
}
@media (max-width: 1199.98px) {
  #section-winner #table-list-winner th:nth-child(1),
  #section-winner #table-list-winner td:nth-child(1) {
    width: 82px;
  }
  #section-winner #table-list-winner th:nth-child(2),
  #section-winner #table-list-winner td:nth-child(2) {
    min-width: 207.5px;
  }
  #section-winner #table-list-winner th:nth-child(5),
  #section-winner #table-list-winner td:nth-child(5) {
    min-width: 150px;
  }
  #section-winner #table-list-winner th:nth-child(4), #section-winner #section-winner #table-list-winner td:nth-child(4) {
    width: 170px;
  }
  #section-winner .warning-text {
    font-size: 0.9rem;
  }
}
@media (max-width: 767.98px) {
  #section-winner {
    margin-bottom: 30px;
  }
  #section-winner .render-table {
    overflow-x: scroll;
  }
  #section-winner h2 {
    max-width: 340px;
    margin: 0 auto;
    line-height: 1.5;
  }
  #section-winner #filter {
    flex-wrap: wrap;
    gap: 7px;
  }
  #section-winner #phone {
    font-size: unset;
    width: 100%;
    height: 33.59px;
    line-height: 33.59px;
  }
  #section-winner #table-list-winner th {
    padding: 5px;
  }
  #section-winner #table-list-winner th:nth-child(1),
  #section-winner #table-list-winner td:nth-child(1) {
    width: 63px;
  }
  #section-winner #table-list-winner th:nth-child(2),
  #section-winner #table-list-winner td:nth-child(2) {
    min-width: 158.5px;
  }
  #section-winner #table-list-winner th:nth-child(5),
  #section-winner #table-list-winner td:nth-child(5) {
    min-width: 125px;
  }
  #section-winner .warning-text {
    font-size: 0.75rem;
    text-align: left !important;
  }
}

#section-rewards {
  padding: unset;
}
#section-rewards img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  animation-duration: 2.7s;
}
#section-rewards .main-container {
  padding: unset;
}

footer {
  background-image: url("../img/icons/background-footer@2x.png");
  background-size: 100vw 100%;
}
footer .footer-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 30px;
}
footer .footer-content .left-side {
  color: white;
  width: calc(100% - 200px);
  max-width: 683px;
}
footer .footer-content .left-side p {
  font-weight: 100;
  font-size: 1.4rem;
  margin-bottom: 0;
  text-align: justify;
}
footer .footer-content .right-side {
  width: -moz-max-content;
  width: max-content;
  border-radius: 4px;
  overflow: hidden;
}
footer a {
  text-decoration: none;
  color: white;
}
@media (max-width: 1199.98px) {
  footer .footer-content {
    padding-bottom: 15px;
  }
  footer .footer-content .left-side {
    width: calc(100% - 180px);
    max-width: 478px;
  }
  footer .footer-content .left-side p {
    font-size: 0.9rem;
  }
  footer .footer-content .right-side {
    min-width: 130px;
    max-width: 150px;
  }
  footer .footer-content .right-side img {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  footer .footer-content {
    padding-top: 40px;
  }
  footer .footer-content .right-side {
    min-width: unset;
    max-width: none;
    width: 150px;
  }
  footer .footer-content .left-side {
    max-width: 438px;
  }
  footer .footer-content .left-side p {
    font-size: 0.9rem;
  }
}
@media (max-width: 550.98px) {
  footer .footer-content {
    padding-top: 60px;
    gap: 10px;
  }
  footer .footer-content .left-side {
    max-width: unset;
    width: 75%;
  }
  footer .footer-content .left-side p {
    font-size: 0.6rem;
  }
  footer .footer-content .right-side {
    width: 25%;
  }
}

.paginationjs .paginationjs-pages li.disabled > a {
  opacity: 1;
}

.paginationjs .paginationjs-pages li {
  border: none !important;
}

.paginationjs .paginationjs-pages li.disabled a {
  cursor: not-allowed;
}

.paginationjs .paginationjs-pages li > a {
  background-color: unset;
}

.paginationjs .paginationjs-pages li > a {
  font-size: 1.2rem;
  color: var(--red-1);
  font-weight: 700;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationjs .paginationjs-pages li.active > a {
  background-color: unset;
  color: var(--red-1);
  border: 1px solid var(--red-1) !important;
  border-radius: 4px !important;
}

.paginationjs .paginationjs-pages li {
  margin: 11px 5px;
}

@media (max-width: 1199.98px) {
  .paginationjs .paginationjs-pages li > a {
    font-size: 1rem;
  }
}
@media (max-width: 767.98px) {
  .paginationjs .paginationjs-pages li {
    margin: 5px 0px;
  }
  .paginationjs .paginationjs-pages li > a,
  .paginationjs .paginationjs-pages li.active > a {
    font-size: 0.875rem;
    width: 25px;
    height: 25px;
  }
  .paginationjs .paginationjs-pages a img {
    width: 12px;
  }
}

/* sticky-header */
.bootstrap-table .fixed-table-container .table thead th {
  background-color: var(--yellow-1);
  vertical-align: middle;
  text-align: center;
  padding: 5px 10px;
  border: 3px solid var(--yellow-3);
}

.bootstrap-table .fixed-table-container .table thead th:nth-child(1) {
  border-left: 0;
}

.bootstrap-table .fixed-table-container .table thead th:last-child {
  border-right: 0;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: 0;
  text-transform: uppercase;
  background-color: var(--yellow-1);
  color: #fff;
  text-wrap: wrap;
  height: 100%;
  padding: 5px 10px;
  line-height: 1.2;
}

.fixed-table-toolbar {
  display: none;
}

@media (max-width: 1199.98px) {
  body {
    background-size: 100% 100%;
    background-image: linear-gradient(#f7daa8 20%, #ffefbf 57%, #fccb90 100%);
    font-family: Noto Sans;
    font-size: 1rem;
  }
  .main-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  h2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 767.98px) {
  h2 {
    font-size: 1.1rem;
  }
  body {
    font-size: 0.8rem;
  }
  ::-moz-placeholder {
    font-size: 0.6rem;
  }
  ::placeholder {
    font-size: 0.6rem;
  }
  .bootstrap-table .fixed-table-container .table thead th {
    padding: 5px;
  }
}/*# sourceMappingURL=global.css.map */